<h2 class="text-center font-weight-bold">About</h2>
<div style="text-indent: 50px;">
<p>Автор сайту: <strong>Легкий Микола</strong></p>
<p>Коротка інформація про сайт:</p>
  <ul>
    <li><p>Стилізація сайту виконана з набіром інструментів з відкритим кодом <strong>Bootstrap 4.</strong></p></li>
    <li><p>Бекенд сайту написаний на це інтерпретованій, повністю об'єктно-орієнтованій мові програмування з чіткою динамічною типізацією <strong>Ruby 2.6.6.</strong></p></li>
    <li><p>Фреймворк сайту - <strong>Rails 6.0.2.2</strong> - це об'єктно-орієнтований програмний каркас для створення веб-застосунків, написаний на мові програмування Ruby</p></li>
    <li><p>Використані <strong>gems</strong>:</p>
    <ul>
      <li><p><strong>carrierwave</strong> - гнучкий спосіб завантаження файлів в програмах Ruby</p></li>
      <li><p><strong>mini_magick</strong> - компактний багатоплатформовий пакет програм для неінтерактивної обробки графічних файлів</p></li>
      <li><p><strong>devise</strong> - це гнучке рішення для аутентифікації на Rails</p></li>
      <li><p><strong>letter_opener</strong> - надає попередній перегляд електронної пошти у веб-переглядачі за замовчуванням замість надсилання</p></li>
    </ul>
    </li>
  </ul>
</div>